In [2]:
name = input("Enter employee name: ")
salary = int(input("Enter salary: "))

if salary >= 40000:
    bonus =4500
    if salary >= 100000:
        allowance = 9000
    else:
        allowance = 6000
else:
    bonus = 2000
    if salary >= 30000:
        allowance = 4000
    else:
        allowance = 2000

total = salary + bonus + allowance

print("Name:", name)
print("Salary:", salary)
print("Bonus:", bonus)
print("Allowance:", allowance)
print("Total Salary:", total)

Enter employee name:  zain
Enter salary:  777990

Name: zain
Salary: 777990
Bonus: 4500
Allowance: 9000
Total Salary: 791490

In [1]:
Input_username = input("Enter username: ")
Input_password = input("Enter password: ")

username = "Z@in"
password = "22532"

username = "Junaid"
password = "33546"

username = "Danish"
password = "22532"

username = "Musa"
password = "38924"

username = "Ahmed"
password = "04734"

if Input_username == username:
    if Input_password == password:
        print("Login Successful!")
    else:
        print("Incorrect password!")
else:
    print("Username not found!")

Enter username:  Ahmed
Enter password:  04734

Login Successful!

In [ ]:
users = {
    "Zain":"22532",
    "Hammad":"22542",
    "Muneeb":"38924",
    "Ahmed":"04734"
}
for attempt in range(3):
    username = input("Enter username: ")
    password = input("Enter password: ")

    if username in users:
        if password == users[username]:
            print("Login Successful!")
            break
        else:
            print("Incorrect password!")
    else:
        print("Username not found!")

    attempts_left = 3 - 1 - attempt
    if attempts_left > 0:
        print(f"Attempts left: {attempts_left}\n")
else:
    print("Too many failed attempts! Access denied.")
    print("Try Again Later!")